<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

    <%- include('partials/header') %>

    <main class="container">
        <h1 class="page-title">Products</h1>

        <div class="grid">
        <% products.forEach(product => { %>
            <div class="card">
            <img src="<%= product.image %>" alt="<%= product.name %>"/>
            <h3><%= product.name %></h3>
            <p><%= product.description %></p>
            <button class="btn">View</button>
            </div>
        <% }) %>
        </div>
    </main>

    <%- include('partials/footer') %>

</body>
</html>